### Exercise 2 — Python Console - 0 Points - Programming task
Solve this Exercise in the Python Console in Spyder (IPython console bottom right).
1. Create two lists: a list with five zeros and a list with six ones.
2. Combine both lists into one.
3. Create one more list with numbers from 1 to 10 and connect both lists.
4. Filter out all the duplicates. Hint: Which data structure does not allow duplicates?
The result should look like this: <br>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
6. Now remove the number 2 from the list.
7. Insert the string "2" (type str) and a value of the type bool into the list. Is this possible?
8. Is the number 2 now included?

In [1]:
list1 = [0] * 5
list2 = [1] * 6
list3 = list1 + list2
list3

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1]

In [3]:
list4 = list(range(1, 11))
list5 = list3 + list4
list5

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
unique = set()
for ele in list5:
    unique.add(ele)
unique

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:
unique.remove(2)

In [6]:
unique

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
unique.add("2")

In [8]:
unique

{0, 1, 10, '2', 3, 4, 5, 6, 7, 8, 9}

As True and False are interpretated as 1 and 0 respectively, and sets don't allow duplicates, we cannot add any boolean values to the set. In order to do that, we would have to convert the set into a list (which allows duplicate values).

In [10]:
list6 = list(unique)
list6

[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, '2']

In [11]:
list6.append(True)
list6

[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, '2', True]

 ### Exercise 3 — List reverse - 0 Points - Programming task
Note: For the solution of this task the usage of loops is not allowed!
Write ascriptthat reverses two sublists of a list. To do this, you should first create a list with thenumbers
from 1 to 9 and then input the index of an element. The element at this index should now be used to
divide the list into two new sublists. One sublist contains all elements to the left of the selected element
and the other sublist contains all elements to the right of the selected element. Then both sublists should
be reversed and output together with the selected element. For example: <br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
Input index: 2 <br>
[2, 1, 3, 9, 8, 7, 6, 5, 4] # Sublists 1,2 and 4,5,6,7,8,9 <br>
Reading the text (str) from the console (here: IPython-console) can be done in Python by using the
function input(), the function reads the input and returns it. If you only want to output something on
the console use function print() instead.

In [12]:
li = list(range(1, 10))
li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
def reverse_list(li: list) -> list:
    input_index = int(input("Enter Input Index: "))
    return li[:input_index][::-1] + [li[input_index]] + li[input_index+1:][::-1]

In [14]:
reverse_list(li)

Enter Input Index:  2

[2, 1, 3, 9, 8, 7, 6, 5, 4]

### Exercise 4 — Scrabble - 0 Points - Programming task
Create a function in a script that takes a word and calculates its Scrabble score. Use the following
values for this: <br>
values = {"a": 1, "b": 3, "c": 4, "d": 1, "e": 1, "f": 4, "g": 2, "h": 2, "i": 1, "j": <br>
6, "k": 4, "l": 2, "m": 3, "n": 1, "o": 2, "p": 4, "q": 10, "r": 1, "s": 1, "t": <br>
1, "u": 1, "v": 6, "w": 3, "x": 8, "y": 10, "z": 3, "ä": 6, "ö": 8, "ü": 6} <br>
An example looks like this: <br>
scrabble(’informatikum’) <br>
23<br>
Hint 1: The following should be the first line in your script so that the umlauts are correctly recognized:<br>
-*- coding: utf-8 -*- <br>
Hint 2: Assume that the entry always consists of lowercase letters. <br>

In [15]:
values = {"a": 1, "b": 3, "c": 4, "d": 1, "e": 1, "f": 4, "g": 2, "h": 2, "i": 1, "j":
6, "k": 4, "l": 2, "m": 3, "n": 1, "o": 2, "p": 4, "q": 10, "r": 1, "s": 1, "t":
1, "u": 1, "v": 6, "w": 3, "x": 8, "y": 10, "z": 3, "ä": 6, "ö": 8, "ü": 6}

In [20]:
# -- coding: utf-8 --

def scrabble_score(s: str) -> int:
    score = 0
    for ch in s:
        score += values.get(ch, 0)
    return score

In [21]:
scrabble_score("informatikum")

23

### Exercise 5 — List of 5 - 0 Points - Programming task
We want to know a little more about lists of numbers. Writes a script that reads five numbers from the
console (floats) and outputs the following information on the console:<br>
•List of all inputs<br>
•Minimum with Index<br>
•Maximum with Index<br>
•Median<br>
•Number of unique elements<br>
•Number of integers (Z)<br>
•Number of other numbers (R \Z).<br>
For example:<br>
One number please: 5<br>
One number please: 4<br>
One number please: 2.2<br>
One number please: 3<br>
One number please: 5<br>
[5.0, 4.0, 2.2, 3.0, 5.0]<br>
min 2.2 2<br>
max 5.0 0<br>
median 4.0<br>
unique 4<br>
integers 4<br>
real numbers without integers 1

In [22]:
numbers = []
for i in range(5):
    numbers.append(float(input(f"Enter the {i} number")))

Enter the 0 number 5
Enter the 1 number 4
Enter the 2 number 2.2
Enter the 3 number 3
Enter the 4 number 5

In [23]:
numbers

[5.0, 4.0, 2.2, 3.0, 5.0]

In [24]:
def find_min(li: list) -> (int, int):
    return min(li), li.index(min(li))

In [25]:
def find_max(li: list) -> (int, int):
    return max(li), li.index(max(li))

In [29]:
print(f"Maximum number is : {find_max(numbers)[0]} \nat index: {find_max(numbers)[1]}")

Maximum number is : 5.0
at index: 0

In [27]:
mini, mini_idx = find_min(numbers)

In [30]:
print(f"Minimum number is : {mini} \nat index: {mini_idx}")

Minimum number is : 2.2
at index: 2

In [34]:
def find_median(nums: list) -> float:
    sorted_nums = sorted(nums)
    if len(sorted_nums) % 2 == 1:
        return sorted_nums[len(sorted_nums) // 2]
    mid1 = len(sorted_nums) // 2
    mid2 = mid1 + 1
    return (sorted_nums[mid1] + sorted_nums[mid2]) / 2

print(f"Median of the list: {find_median(numbers)}")

Median of the list: 4.0

In [35]:
unique = set()

for num in numbers:
    unique.add(num)

print(f"Number of unique numbers: {len(unique)}")

Number of unique numbers: 4

In [38]:
def findIntegerNumber(li: list) -> int:
    count = 0
    for num in li:
        if num.is_integer():
            count += 1
    return count

In [39]:
print(f"Number of Integers: {findIntegerNumber(numbers)}")

Number of Integers: 4

In [41]:
print(f"Real numbers without Integers: {len(numbers) - findIntegerNumber(numbers)}")

Real numbers without Integers: 1